/* 
 * Remember to use the BEM methodology
 *
 * Brief intro to BEM:
 * https://css-tricks.com/bem-101/
 *
 * Full docs on BEM:
 * http://getbem.com/
 *
 */
 
/* Add your CSS components here. */


/*Pblock*/
.PTitle{
  border:1px black solid;
  border-radius:5px;
  background-color:gray;
}
/*Pmethod*/
.PTitle__WordMark--lightUp:hover{
  transition:1s;
  text-shadow:3px 3px black;
}
/*Pelement*/
.PTitle__WordMark{
  text-align:center;
  font-size:2em;
  margin:0 auto;
}
  
/*************************\
*****Lobster Component*****
\*************************/  
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.hidden{
  background-color: salmon;
  color: rgba(59, 53,70, 0.75);
  text-align: center;
  font-family: sans-serif;
}
/* Elements */
.hidden__text{
  font-family: "Lobster";
  border: 1px solid;
  font-size: 20px;
  text-shadow: 2px 2px purple;
}
.hidden__center{
  background-image: url(https://media.istockphoto.com/vectors/water-surface-seamless-background-top-view-vector-id1179016817?b=1&k=6&m=1179016817&s=612x612&w=0&h=Kiaio9jJuTN71lCuzaTg8fxueN3m886Ts9XSRElnmYI=) ;
}
.hidden--show{
  opacity: 1.0;
  color: rgba(59, 53,70, 0.75);
  text-shadow: 2px 2px purple;
}
.hidden--show:hover{
  transition: 2s;
  opacity: 0.0;
  text-shadow: none;
  border: none;
}
.hidden--hide{
  opacity: 0.0;
  text-shadow: none;
  border: none;
}
.hidden--hide:hover{
  transition: 2s;
  color: rgba(59, 53,70, 0.75);
  opacity: 1.0;
  text-shadow: 2px 2px purple;
  border: solid 1px;
}



/*************************\
*****Hidden Component*****
\*************************/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.hidden{
  background-color: salmon;
  color: rgba(59, 53,70, 0.75);
  text-align: center;
  font-family: sans-serif;
}

/* Elements */
.hidden__text{
  font-family: "Lobster";
  border: 1px solid;
  font-size: 20px;
  text-shadow: 2px 2px purple;
}
.hidden__center{
  background-image: url(https://media.istockphoto.com/vectors/water-surface-seamless-background-top-view-vector-id1179016817?b=1&k=6&m=1179016817&s=612x612&w=0&h=Kiaio9jJuTN71lCuzaTg8fxueN3m886Ts9XSRElnmYI=) ;
}

/* =============================
   Playing Card Component
==============================*/

/* Block */
.playing-card{
  box-sizing:border-box;
  border: 1px solid grey;
  width:250px;
  height:350px;
  margin:10px;
  padding:0;
  border-radius:20px;
  position:relative;
  box-shadow:2px 2px 12px black;
}

/* Elements */
.playing-card__top-corner{
  width:50px;
  height:100px;
  postion:absolute;
  left:0;
  top:0;
  padding:3px;
}

.playing-card__value{
  display: flex;
  justify-content:center;
  align-items:center;
  width:50px; 
  height:50px;
}

.playing-card__value::before{
  content:'Jkr';
  color: red;
  font-size:32px;
}

.playing-card__suit{
  width:50px; 
  height:50px;
  display: flex;
  justify-content:center;
  align-items:flex-end;
}

.playing-card__suit::before{
  content:'';
  color: red;
  font-size:72px;
}

.playing-card__face{
  width: 125px;
  height:230px;
  position:absolute;
  left:60px;
  top:60px;
  display: flex;
  justify-content:center;
  align-items:center;
}
.playing-card__face::before{
  content:'\1F921';
  color: red;
  font-size:200px;
}

.playing-card__bottom-corner{
  position:absolute;
  right:0;
  bottom:0;
  transform:rotate(180deg);
  width:50px;
  height:100px;
  padding:3px;
}

/* Modifiers */

.playing-card--ace .playing-card__value::before{
  content:'A';
}
.playing-card--2 .playing-card__value::before{
  content:'2';
}
.playing-card--3 .playing-card__value::before{
  content:'3';
}
.playing-card--4 .playing-card__value::before{
  content:'4';
}
.playing-card--5 .playing-card__value::before{
  content:'5';
}
.playing-card--6 .playing-card__value::before{
  content:'6';
}
.playing-card--7 .playing-card__value::before{
  content:'7';
}
.playing-card--8 .playing-card__value::before{
  content:'8';
}
.playing-card--9 .playing-card__value::before{
  content:'9';
}
.playing-card--10 .playing-card__value::before{
  content:'10';
}
.playing-card--jack .playing-card__value::before{
  content:'J';
}
.playing-card--queen .playing-card__value::before{
  content:'Q';
}
.playing-card--king .playing-card__value::before{
  content:'K';
}

/* Spades Suit */
.playing-card--spades .playing-card__suit::before,
.playing-card--spades .playing-card__face::before{
  content:'\2660';
}

.playing-card--spades .playing-card__suit::before,
.playing-card--spades .playing-card__face::before,
.playing-card--spades .playing-card__value::before{
  color: black;
}

/* Clubs Suit */
.playing-card--clubs .playing-card__suit::before,
.playing-card--clubs .playing-card__face::before{
  content:'\2663';
}

.playing-card--clubs .playing-card__suit::before,
.playing-card--clubs .playing-card__face::before,
.playing-card--clubs .playing-card__value::before{
  color: black;
}

/* Hearts Suit */
.playing-card--hearts .playing-card__suit::before,
.playing-card--hearts .playing-card__face::before{
  content:'\2665';
}

.playing-card--hearts .playing-card__suit::before,
.playing-card--hearts .playing-card__face::before,
.playing-card--hearts .playing-card__value::before{
  color: red;
}

/* Diamonds Suit */
.playing-card--diamonds .playing-card__suit::before,
.playing-card--diamonds .playing-card__face::before{
  content:'\2666';
}

.playing-card--diamonds .playing-card__suit::before,
.playing-card--diamonds .playing-card__face::before,
.playing-card--diamonds .playing-card__value::before{
  color: red;
}

/* ==============================
         AWESOME BUTTON
============================== */

/* Block */
.amazing-button {
  display: inline-block;
}

/* Element */
.amazing-button__button {
  padding: 5px;
}
/* Modifier*/
.amazing-button--red {
  color: #FF0000;
  background-color: #FFDDDD;
}
.amazing-button--green {
  color: #00FF00;
  background-color: #DDFFDD;
}
.amazing-button--blue {
  color: #0000FF;
  background-color: #DDDDFF;
}
  
  
/*=====================================
      Formal Alert Component
=====================================*/

@import url('https://fonts.googleapis.com/css2?family=Sora&family=Syne&display=swap');

/* Block */
.formal-alert{
  margin: auto;
  width: 50%;
  border: 8px solid #B0C4DE;
  text-align: center;
}
 
 /* Element */
.formal-alert__title{
  color: #280d69;
  font-family: 'Sora', sans-serif;
  text-shadow: 2px 2px #00FA9A, 4px 4px #00CED1;
}

.formal-alert__content{
  color: #7de8e3;
  font-family: 'Syne', sans-serif;
}
 

/* Modifier */
.formal-alert--casual{
  border-radius: 10px;
  background-color: #008080;
}

.formal-alert--urgent{
 background-color: #DC143C;
 box-shadow: 7px 7px 0px rgba(255, 20, 147, 0.5);
 border: 8px solid #FF1493;
}
  
 
 /*=========================================
       Cool-btn component
==========================================*/
        /* Block*/
 .Cool-btn{
  max-width: 100%;
}

       /*Element*/
.Cool-btn__circle{
  border: 2px solid;
  border-color: black;
  height: 400px;
  width: 400px;
  border-radius: 360px;
  background-color: Blue;
}
    .Cool-btn__label{
  color: White;
  font-weight: bolder;
}
.Cool-btn__label:hover{
  color: Black;
  background-color:blue;
}
.Cool-btn__circle:hover{
  background-color: Purple;
}

 body {
  background-color: grey;
  margin: 0;
}
/*====================================
           A.R Pull Request
==================================*/

/*Block*/
.boo {
  margin: 15px auto;
  background-color: transparent;
  max-width: 300px;
  text-align: center;
  border: 2px dotted red;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 15px red;
}

/*Element*/
.boo__btn {
  border: red dotted 2px;
  border-align: 15px;
  padding: 5px 10px;
  font-family: sans-serif;
  background-color: transparent;
  margin: 10px 0;
}

 /*Modifier*/
.boo--dark {
  background-color: black;
}

.boo--dark .boo__title {
  background-color: white;
}
  
.boo--dark .boo__btn {
  background-color: white;
}
  

/* ====================
   Random programming language ranking
======================*/

/* Block */
.table {
  display: block;
  background-color: white;
}
  
/* Elements */
.table__content {
  text-align: center;
}
 
/* Modifier one */
.table--thead-dark .table__head{
  background-color: #343a40;
}

.table--thead-dark .table__item--heading{
  color: white;
}


/*====================================
  Martin's General Request Component
====================================*/

@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@600&display=swap");

/*Block*/
.my-block {
  border: 10px solid black;
  border-radius: 10px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  max-height: 600px;
  background-color: #444;
  font-family: "Commissioner", sans-serif;
 }
 
 /*Element*/
.navbar {
  background-color: turquoise;
}

.navbar__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.navbar__item {
  font-size: 18px;
  margin: 0;
}

.navbar__link {
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 25px 22px;
  display: block;
  transition: 0.7s all ease;
  position: relative;
}

.navbar__link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.my-block__heading {
  background-color: green;
  font-family: verdana;
  margin: 0;
  padding: 10px
}

.my-block__text {
  font-size: 1.5em;
  line-height: 50px;
}

.my-block__footer {
  background-color: lightgreen;
  padding: 15px;
  margin: 0;
}
 
 /*Modifiers*/
.my-block--blank {
  background-color: black;
  padding: 6px;
}

.my-block--blank-text {
 visibility: hidden;
}

.my-block--blank2 {
  background-color: black;
  color: #999;
  font-size: 2rem;
}
 
/*==========================================

       Calvin's School Poll 
==========================================*/

/*Block*/
.boop {
  max-width: 1100px;
  margin: 25px auto;
  border: 3px solid rgb(26,62,99);
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  background-color: rgb(210, 210, 210);
  border-radius: 5px;
}

 
/* Element */
.boop__btn {
  border-radius: 5px;
  min-width:100px;
  min-height:50px;
  margin: 5px;
  background-color:white;
  transition: all .2s ease-out;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

 /* Modifier */
.boop__title {
  border-bottom: 1px solid rgb(26,62,99);
}

.boop__btn:hover{
  background-color: rgb(230, 230, 230);
  transform: scale(1.1);
  border-radius: 5px;
  cursor: pointer;
}

.boop__btn:focus{
  background-color: rgb(200, 200, 200);
  transform: scale(1.1);
  border-radius: 5px;
}

.boop--blue{
  color: lightblue;
  background-color: blue;
}

.boop__title--white{
  color: white;
  background-color: gray;
}

  
/*====================================
          Spooky Poll Request
==================================*/
.spooky{
 background-color: white;
 }

 
/*Element*/
.spooky__btn {
  border: 2px solid;
  border-color: black;
  height: 15%;
  width: 25%;
  border-radius: 360px;
}

/*Modifier*/
.spooky {
  background-color: red;
}

.spooky__title {
  background-color: white;
}



/*==========================
 Tim's Component
===========================*/
.my-block{
 color:"purple";
 }
/*Element*/
 .my-block__elem1{
  font-size:10px;
 }
 /*Modifier*/
 .my-block--mod1{
  font:sans-serif;
 }
  
/* ====================
   Appleton's Component
======================*/

/* Block */

.name-card{
  background-color: rgba(65,55,120,0.2);
  max-width:300px;
  padding:20px;
  border-radius:20px;
  text-align:center;
}
  
 /* Elements */

.name-card__heading{
  color:purple;
  text-align: left;
}

.name-card__body{
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 5px;
}

.name-card__footer{
  color:white;
  font-style: italic;
 }

  /* Modifiers */

.name-card--red{
  border: red solid 3px;
  box-shadow: 5px 5px grey;
}

.name-card--green{
  border: green solid 3px;
  box-shadow: 5px 5px grey;
}

.name-card--blue{
  border: blue solid 3px;
  box-shadow: 5px 5px grey;
}
 


/* ==============================
      Azriel's Poll components
===================================*/
/* block */
.poll{
  border: 3px black solid;
  border-radius: 50px;
  max-width: 400px;
  margin: 30px auto;
  padding: 60px;
  box-shadow: 2px 2px 12px black;
  font-family: 'Roboto', cursive;
  display:flex;
  flex-direction: column;
}

/* Azriel's Element */
.poll__title{
  margin-top: 0;
  font-size:2rem;
  color: #B11CED;
  text-align:center;
}
 
 /* Azriel's Modifier */
  
.poll--grey{
  background-color: #bbb;
}

/*===============================
******** RAY-EZ'S components ****
**********************************/
.rayez-block{
  width:80%;
  font-family: sans-serif;
  padding:2rem;
}
.rayez_spooky__btn{
  width:100%;

  padding:0.8rem 0;
  transition: all 0.3s;
}
.btn--spooky{
  background-color:pink;
  border:none;
  border-radius:5px;
  color:purple;
}
.btn--spooky:hover{
  background-color:purple;
  box-shadow:3px 2px pink;
  transform:translate(-3px,-5px);
  color:#f3f;
}