

/* =============================
   Playing Card Component
==============================*/

/* Block */
.playing-card{
  box-sizing:border-box;
  border: 1px solid grey;
  width:250px;
  height:350px;
  margin:10px;
  padding:0;
  border-radius:20px;
  position:relative;
  box-shadow:2px 2px 12px black;
}

/* Elements */
.playing-card__top-corner{
  width:50px;
  height:100px;
  postion:absolute;
  left:0;
  top:0;
  padding:3px;
}

.playing-card__value{
  display: flex;
  justify-content:center;
  align-items:center;
  width:50px; 
  height:50px;
}

.playing-card__value::before{
  content:'Jkr';
  color: red;
  font-size:32px;
}

.playing-card__suit{
  width:50px; 
  height:50px;
  display: flex;
  justify-content:center;
  align-items:flex-end;
}

.playing-card__suit::before{
  content:'';
  color: red;
  font-size:72px;
}

.playing-card__face{
  width: 125px;
  height:230px;
  position:absolute;
  left:60px;
  top:60px;
  display: flex;
  justify-content:center;
  align-items:center;
}
.playing-card__face::before{
  content:'\1F921';
  color: red;
  font-size:200px;
}

.playing-card__bottom-corner{
  position:absolute;
  right:0;
  bottom:0;
  transform:rotate(180deg);
  width:50px;
  height:100px;
  padding:3px;
}

/* Modifiers */

.playing-card--ace .playing-card__value::before{
  content:'A';
}
.playing-card--2 .playing-card__value::before{
  content:'2';
}
.playing-card--3 .playing-card__value::before{
  content:'3';
}
.playing-card--4 .playing-card__value::before{
  content:'4';
}
.playing-card--5 .playing-card__value::before{
  content:'5';
}
.playing-card--6 .playing-card__value::before{
  content:'6';
}
.playing-card--3 .playing-card__value::before{
  content:'7';
}
.playing-card--3 .playing-card__value::before{
  content:'8';
}
.playing-card--3 .playing-card__value::before{
  content:'9';
}
.playing-card--3 .playing-card__value::before{
  content:'10';
}
.playing-card--jack .playing-card__value::before{
  content:'J';
}
.playing-card--queen .playing-card__value::before{
  content:'Q';
}
.playing-card--king .playing-card__value::before{
  content:'K';
}

/* Spades Suit */
.playing-card--spades .playing-card__suit::before,
.playing-card--spades .playing-card__face::before{
  content:'\2660';
}

.playing-card--spades .playing-card__suit::before,
.playing-card--spades .playing-card__face::before,
.playing-card--spades .playing-card__value::before{
  color: black;
}

/* Clubs Suit */
.playing-card--clubs .playing-card__suit::before,
.playing-card--clubs .playing-card__face::before{
  content:'\2663';
}

.playing-card--clubs .playing-card__suit::before,
.playing-card--clubs .playing-card__face::before,
.playing-card--clubs .playing-card__value::before{
  color: black;
}

/* Hearts Suit */
.playing-card--hearts .playing-card__suit::before,
.playing-card--hearts .playing-card__face::before{
  content:'\2665';
}

.playing-card--hearts .playing-card__suit::before,
.playing-card--hearts .playing-card__face::before,
.playing-card--hearts .playing-card__value::before{
  color: red;
}

/* Diamonds Suit */
.playing-card--diamonds .playing-card__suit::before,
.playing-card--diamonds .playing-card__face::before{
  content:'\2666';
}

.playing-card--diamonds .playing-card__suit::before,
.playing-card--diamonds .playing-card__face::before,
.playing-card--diamonds .playing-card__value::before{
  color: red;
}


/* Elements */
.table__content {
  text-align: center;
}
